
.form-check{
    padding: 30px auto;
}

.form-check-input[type='radio']{
    border-radius: 0px;
    font-weight: 900;
    margin-left: 5px;
}
.form-check-label{
    color: black;
    font-weight: 400;
    margin-left: 10px;
}

.product-image{
    width: auto;
    /* transition: 3s; */
    transition: 0.3s 

}

.product-image:hover{
    /* transform:rotateY(180deg) */
    transform:scale(1.05)
}

a{
    text-decoration:none
}