.body{
  margin: 30px;
 
}

/* .container{
  background-color: rgba(241, 223, 185, 0.622);
} */
#products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin-top: 50px;
    align-items: center;
  }


  #products-grid {
    display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin-top: 50px;
    align-items: center;
  }

  .trunketText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 18px; 
}
  @media  (max-width:800px) {
    #products-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
      grid-gap: 5px;
      padding: 5px;
      margin-top: 25px;
      align-items: center;
    }
    .trunketText {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
      font-size: 14px; 
  }
  }

  .product-card:hover {
    transform: scale(1.03);
  }

  .product-image {
    max-width: 100%;
    height: 300px;
    border-bottom: 1px solid #ddd;
  }

  .product-details {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }

  .product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 12px;
  }
  
  .product_rating{
    color: gold;
  }
  .product-price {
    font-size: 20px;
    color: #333;
  }
